{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexão Django</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
<header class="site-header">
    <div class="logo">
        <img src="{% static 'imagens/logo.png' %}" alt="Logo Salgados da Dona Angela">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="/contato/">Contato</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Loja de Salgados</h1>

    <h2>Produtos Disponíveis:</h2>

    <div class="produtos-container">
        <div class="produto">
            <div class="salgados_image">
                <img src="{% static 'imagens/coxinhas_image.png' %}" alt="Coxinhas">
            </div>
            <h3>Coxinha</h3>
            <p>Preço: R$ 5.00</p>
            <button class="add-to-cart" data-produto-nome="Coxinha" data-produto-preco="5.00">Comprar</button>
        </div>

        <div class="produto">
            <div class="salgados_image">
                <img src="{% static 'imagens/esfihas_image.png' %}" alt="Esfiha">
            </div>
            <h3>Esfiha</h3>
            <p>Preço: R$ 6.00</p>
            <button class="add-to-cart" data-produto-nome="Esfiha" data-produto-preco="6.00">Comprar</button>
        </div>

        <div class="produto">
            <div class="salgados_image">
                <img src="{% static 'imagens/croissants_image.png' %}" alt="Croissant">
            </div>
            <h3>Croissant</h3>
            <p>Preço: R$ 7.00</p>
            <button class="add-to-cart" data-produto-nome="Croissant" data-produto-preco="7.00">Comprar</button>
        </div>
    </div>
    <hr>
</main>

<footer>
    <p>&copy; 2024 Salgados da Dona Angela</p>
</footer>

<script src="{% static 'script/script.js' %}" defer></script>
</body>
</html>
